body{
    background-color: brown;
}
.padre{
    background-color: chocolate;
    margin: 6px;
    padding: 6px;
}
.titulo,.contenido,.pie{
    background-color: darkgoldenrod;
    margin: 10px;
    padding: 10px;
}
.foto{
    background-color: black;
    width: 350px;
    height: 300px;
    padding: 10px;
}
.img{
    width: 100%;
    height: 100%;
}
.texto{
    background-color: darkkhaki;
    width: 350px;
    height: 300px;
    padding: 10px;
}
.contenido{
    display: flex;
}
.titulo,.pie{
    text-align: center;
}